.search-results-container {
  margin: 5rem 5rem;
}

.search-results-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.row {
  margin-bottom: 2rem;
}

@media (max-width: 991px) {
  .search-results-container {
    margin: 2rem;
    margin-top: 5rem;
  }

  .search-results-title {
    font-size: 1.8rem;
  }
}

@media (max-width: 767px) {
  .row {
    justify-content: center;
  }

  .col-lg-3,
  .col-md-4 {
    flex-basis: 50%;
  }
}
