.faq__container{
    margin-top: 3rem;
}

.card__faq {
    height: 500px;
    width: 400px;
    background-color: #edb985;
    box-shadow: 5px 5px 20px grey;
    overflow: hidden;
   
}

.paragraph__card{
    height: 110px;
    width: 600px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px grey;
    overflow: hidden;
}

.faq__gap{
    padding: 2rem 4rem;
}