
azure_rsa.pub

# Ignore Terraform files
.terraform/

# Ignore any .tfstate files
*.tfstate
*.tfstate.*

# Ignore any crash.log files
crash.log

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc
