.header {
  padding: 9rem 0;
  color: #fff;
  font-size: 2rem;
}

.header .subheader h1 {
  font-weight: 500;
}

// @media (max-width: 768px)
@media (max-width: 768px) {
  .header {
    padding: 6rem 10;

    .subheader h1 {
      font-size: 2rem;
    }
  }
}
