.mission__vision{
   align-items: center;
    padding: 3rem 12rem;
    margin-bottom: 1rem;
    align-items: center;
}

.aboutus__numbers{
    color:#edb985
}

.missionVission__card{
    height: 220px;
    width: 240px;
    background-color: #edb985;
    box-shadow: 5px 5px 20px grey;
    overflow: hidden;
    border-radius: 10px;
    margin: 1rem 7rem;
}

.missionVission__img{
   margin: 2rem 12rem;
    height: 600px;
    width: 100px;
    position:relative;
}