.registration__header {
  width: 100%;
  height: 70vh;
  position: relative;
}

// overlay for the background image

.registration__header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #adacaf;
  opacity: 0.2;
}
