
.contactnow__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contactnow {
    display: flex;
    font-weight: 500;
    align-content: center;
    font-size: 30px;
    padding-right: 10rem;
}