.add__property {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.number__container {
  margin-left: 12rem;

  .number {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgb(253, 169, 79);
    color: white;

    span {
      font-size: 1.5rem;
    }
  }

  .line {
    width: 80%;
  }
}
