.home-page {
  margin-top: 4rem;
  padding-top: 2rem;
  width: 100%;

  .home-banner {
    span.home-subtitle {
      font-size: 1rem;
      font-weight: 600;
      color: rgb(39, 35, 35);
    }

    h1.home-title {
      font-size: 2rem;
      font-weight: 700;
      color: rgb(3, 2, 2);
    }

    .search-bar {
      padding-top: 8rem;
    }
  }

  // Media query for smaller screens
  @media (max-width: 768px) {
    .home-banner {
      padding-top: 5rem;

      span.home-subtitle {
        font-size: 1rem;
      }

      h1.home-title {
        font-size: 1.5rem;
      }

      .search-bar {
        padding-top: 6rem;
      }
    }
  }
}
